/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


/*!WRAPPER & ASIDE*/
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    max-width: 1922px;
    display: flex;
    flex-direction: column;
}

.wrapper-aside-header {
    display: flex;
    justify-content: space-between;
}

aside {
    padding-left: 80px;
    height: 942px;
    flex-basis: 14.7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summon-menu {
    margin-top: 46px;
    display: none;
}

.hearts {
    margin-top: 25px;
}

.lot-icons li {
    margin-bottom: 18px;
}


/*!HEADER*/

.wrapper-header-main {
    flex-basis: 85.3%;
    background-color: #FFEA2F;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.inner-menu li {
    display: inline;
    margin-right: 85px;
    list-style-type: none;
}

.inner-menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
}
.red-block {
    height: 120px;
    width: 120px;
    background-color: #CE0002;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-block a {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

/*!MAIN CONTENT */
.wrapper-header-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
}

.welcome h1{                        /* 194 */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    text-transform: uppercase;
    color: #000000;
    width: 1100px;
    margin-top: 157px;
    position: relative;
    right: 194px;
}

.more-block {
    width: 700px;
    display: flex;
    align-items: center;
    margin-bottom: 132px;
    position: relative;
    right: 60px;
}

.more-block h4 {
    margin-left: 70px;
    width: 500px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    position: relative;
}

.unicorn {
    width: 786px;
    height: 733px;
    position: relative;
    margin-right: 40px;
    margin-bottom: 40px;
}

.img-inicorn {
    background-image: url(../images/main/Unicorn.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* !FOOTER */

footer {
    height: 54px;
    background-color: #efefef;
    padding: 0px 16px 0px 27px;
    margin-top: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
}

.footer__inner-menu li {
    display: inline;
    margin-right: 50px;
    list-style-type: none;
}

.footer__inner-menu li:last-child {
    margin-right: 0px;
}

.footer__inner-menu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7E7E7E;
}

.footer__lot-icons li {
    display: inline;
}




@media (max-width:1026px) {
    .wrapper {
        max-width: 1026px;
    }
    aside {
        height: 1008px;
        padding-left: 30px;
        flex-basis: 9.65%;
    }
    .summon-menu {
        display: block;
    }
    .hearts {
        position: absolute;
        left: 125px;
    }
    .wrapper-header-main {
        flex-basis: 90.35%;
    }
    .inner-menu li {
        display: none;
    }
    main {
        flex-direction: column;
    }
    .welcome h1{
        width: 867px;
        right: 50px;
        margin-top: 64px;
    }
    .more-block {
        margin: 20px 0px;
        right: 50px;
    }
    .unicorn {
        align-self: flex-end;
    }
    .footer__inner-menu a {
        font-size: 14px;
        line-height: 17px;
    }
}



@media (max-width:390px) {
    .wrapper {
        max-width: 390px;
        background-color: #F1FAFF;
    }
    aside {
        height: 373px;
        padding-left: 15px;
        flex-basis: 21.8%;
    }
    .summon-menu {
        display: block;
    }
    .hearts {
        position: absolute;
        left: 125px;
    }
    .lot-icons {
        display: none;
    }
    .wrapper-header-main {
        flex-basis: 78.2%;
    }
    .inner-menu li {
        display: none;
    }
    .red-block {
        height: 98px;
        width: 98px;
    }
    main {
        height: 875px;
        flex-direction: column;
    }
    .welcome{
        max-width: 305px;
        height: 826px;
    }
    .welcome h1{
        width: 352px;
        right: 50px;
        margin-top: 49px;
        font-size: 32px;
        line-height: 38px;
    }
    .more-block {
        width: 345px;
        margin: 0px 0px;
        right: 50px;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .mb-rb {
        align-self: flex-start;
    }
    .more-block h4{
        width: 345px;
        margin-top: 25px;
        margin-left: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .unicorn {
        width: 345px;
        height: 322px;
        align-self: flex-end;
        margin-right: 0px;
        margin-bottom: 0px;
        position: absolute;
        top: 240px;
        right: 15px;
    }
    .img-inicorn {
        background-image: url(../images/main/Unicorn-m.png);
    }
    footer {
        padding: 0px 13px 0px 20px;
        margin-top: 49px;
    }
    .footer__inner-menu li {
        display: none;
    }
}